@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');

body {
    background-color: #38404B;
}

.container {
    padding-left: 126px;
    padding-right: 126px;
}

.heading_content {
    margin-top: 74px;
    display: flex;
    justify-content: center;
}

.burger {
    padding-left: 224px;
}

.burger_svg {}

.add_new_task {
    padding-right: 224px;
    padding-left: 351px;
}


.new_task__input {
    width: 578px;
    height: 59px;
    background: #38404B;
    box-shadow: -1px -1px 2px rgba(46, 53, 62, 0.5), inset -3px 3px 6px rgba(46, 53, 62, 0.2), inset 3px -3px 6px rgba(46, 53, 62, 0.2), inset -3px -3px 6px rgba(66, 75, 88, 0.9), inset 3px 3px 8px rgba(46, 53, 62, 0.9);
    border-radius: 16px;
    border: none;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: rgba(148, 173, 207, 0.7);
    padding-left: 38px;
    background: url(Enter.svg) no-repeat scroll 585px 16px;
    padding-right: 10px;
}

.new_tasks__heading {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    color: #94ADCF;

    padding-top: 52px;
    padding-bottom: 52px;
}

.completed_tasks__heading {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    color: #94ADCF;

    padding-top: 52px;
    padding-bottom: 52px;
}

.new_task {
    width: 449px;
    height: 59px;
    border: none;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;

    padding-right: 275px;
    padding-left: 69px;
    margin-right: 89px;
    margin-bottom: 52px;

    color: #94ADCF;

    background-color: #38404B;
    box-shadow: -5px 5px 10px rgba(48, 54, 64, 0.2), 5px -5px 10px rgba(48, 54, 64, 0.2), -5px -5px 10px rgba(64, 74, 86, 0.9), 5px 5px 13px rgba(48, 54, 64, 0.9), inset 1px 1px 2px rgba(64, 74, 86, 0.3), inset -1px -1px 2px rgba(48, 54, 64, 0.5);
    border-radius: 16px;
    background: url(empty_circle.svg) no-repeat scroll 24px 20px;
}

.completed_task {
    width: 449px;
    height: 59px;
    border: none;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    text-decoration: line-through;

    padding-right: 275px;
    padding-left: 69px;
    margin-right: 89px;
    margin-bottom: 52px;

    color: #94ADCF;

    background-color: #38404B;
    box-shadow: 1px 1px 2px rgba(64, 74, 86, 0.3), -1px -1px 2px rgba(48, 54, 64, 0.5), inset -5px 5px 10px rgba(48, 54, 64, 0.2), inset 5px -5px 10px rgba(48, 54, 64, 0.2), inset -5px -5px 10px rgba(64, 74, 86, 0.9), inset 5px 5px 13px rgba(48, 54, 64, 0.9);
    border-radius: 16px;
    background: url(full_circle.svg) no-repeat scroll 24px 20px;
}

@media (max-width: 1440px) {
    .burger {
        padding-left: 133px;
    }
    .new_task {
        width: 493px;
    }
    .completed_task {
        width: 493px;
    }
}

@media (max-width: 1024px) {
    .burger {
        padding-left: 133px;
    }
    .new_task {
        width: 851px;
    }
    .completed_task {
        width: 851px;
    }
    .burger_svg {
        padding-right: 95px;
    }
}

@media (max-width: 768px) {
    .burger {
        padding-left: 0px;
    }

    .burger_svg {
        width: 0px;
    }

    .add_new_task {
    padding-right: 0px;
    padding-left: 411px;
    }
}

@media (max-width: 425px) {
    .completed_tasks__heading {
        width: max-content;
    }
    
    .new_task__input {
        margin-right: -146px;
    }
}

@media (max-width: 375px) {
    .new_tasks__heading {
        width: max-content;
    }

    .new_task__input {
        margin-right: -194px;
    }
}

@media (max-width: 375px) {
    .new_task__input {
        margin-right: -251px;
    }
}